In [30]:
import numpy as np
import pandas as pd
np.random.seed(0)
df = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
                   'office_id': list(range(1, 7)) * 2,
                   'sales': [np.random.randint(100000, 999999)
                             for _ in range(12)]})

In [39]:
state_office = df.groupby(['state', 'office_id']).agg({'sales':'sum'})
state_office.axes

[MultiIndex(levels=[['AZ', 'CA', 'CO', 'WA'], [1, 2, 3, 4, 5, 6]],
            codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3], [1, 3, 5, 0, 2, 4, 0, 2, 4, 1, 3, 5]],
            names=['state', 'office_id']), Index(['sales'], dtype='object')]

In [37]:
state_pcts = state_office.groupby(level=0).apply(
    lambda x: 100 * x / float(x.sum()))
#what is level 0? Level 0 is

In [38]:
state_pcts

                     sales
state office_id
AZ    2          16.981365
      4          19.250033
      6          63.768601
CA    1          19.331879
      3          33.858747
      5          46.809373
CO    1          36.851857
      3          19.874290
      5          43.273852
WA    2          34.707233
      4          35.511259
      6          29.781508